<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a [routerLink]="['/index']">
                        <b>KRAULAIN</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Tutorials
                    </a>
                </li>
                <li>
                    <a href="#">
                        Courses
                    </a>
                </li>
                <li>
                    <a href="#">
                        Minibooks
                    </a>
                </li>
                <li>
                    <a href="#">
                        Book Club
                    </a>
                </li>
                <li>
                    <a href="#">
                        Podcast
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2020 - kraulain.me
        </div>
    </div>
</footer>