<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kraulain</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="#">
          Catalog
        </a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Learn
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-with-icons">
          <li>
            <a href="#">
              <i class="material-icons">edit</i> Tutorials
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">ondemand_video</i> Courses
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">menu_book</i> Minibooks
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">people</i> Book club
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Blog
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-with-icons">
          <li>
            <a href="#">
              <i class="material-icons">receipt</i> Blog
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">play_circle_outline</i> Vlog
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">keyboard_voice</i> Podcast
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="btn btn-white btn-simple">
          Contact
        </a>
      </li>
        </ul>
      </div>
  </div>
</nav>