<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']">
        <b>KRAULAIN</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">edit</i> Tutorials
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">ondemand_video</i> Courses
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">menu_book</i> Minibooks
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">people</i> Book club
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">keyboard_voice</i> Podcast
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/contact']" class="nav-link">
              Contact
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav>